body{
	text-align: center;
}

h2{
	color:#B22222;
}

h1{
	color:#FF4500;
}

.lista-tarefas{
	text-align: center;
	padding:5px;
}

.listaTarefas{
	text-align: left;
}

.listaTarefas li{
	list-style-type: none;
}

.nova-tarefa{
	text-align: center;
	padding:5px;
}

.group {
	margin:10px;
}

.btn{
	border:2px #FFE4B5 solid;
	border-radius:5px;
	height:30px;
	margin:5px;
}

.salvar{
	background-color: #FFDAB9;
}

.excluir{
	color:#FF4500;
}

.add{
	color:#FF4500;
	background-color: #FFE4B5;
}

.sair{
	width: 40%;
	background-color:#DDA0DD;
	color:#fff;
}

footer{
	text-align: center;
}